*

!Dockerfile
!.gitignore
!README.MD
!requirements.txt

# Code
!feedreader
!feedreader/env
!feedreader/env/dev
!feedreader/env/test
!feedreader/env/production
!feedreader/service
!feedreader/core
!feedreader/apirest

# Tests
!tests
!tests/apirest
!tests/core
!tests/service

!debug
!**/*.py
!**/*.json

# App Data
!feedreader/AppData
!feedreader/AppData/*
!feedreader/AppData/ssl
!feedreader/AppData/ssl/*
