*

!Dockerfile
!.gitignore
!README.MD
!requirements.txt

# Code
!feedreader
!feedreader/service
!feedreader/core
!feedreader/apirest
!tests
!debug
!**/*.py
!**/*.json

# App Data
!feedreader/AppData
!feedreader/AppData/*
!feedreader/AppData/ssl
!feedreader/AppData/ssl/*
