*

!.gitignore
!README.MD
!requirements.txt

# WordNet + AppData
!wordnet
!wordnet/AppData
!wordnet/AppData/ssl
!wordnet/AppData/ssl/*
!wordnet/AppData/temp
!wordnet/AppData/temp/*

# NLP
!wordnet/nlp

# Service
!wordnet/service

# Tests
!tests
!tests/service
!tests/nlp

# Exclude all python files
!**/*.py

# Docker
!Dockerfile
!.dockerignore