*

!wordnet

# Core
!wordnet/core

# NLP
!wordnet/nlp
!wordnet/nlp/AppData
!wordnet/nlp/AppData/*

# Service
!wordnet/service

# Tools
!tools

# Exclude all python files
!**/*.py

# Others
!Dockerfile
!.gitignore
!README.MD
!requirements.txt